@charset "UTF-8";

/* reset */
div.tagget_wrapper * {
  margin: 0;
  padding: 0;
}

/* wrapper */
div.tagget_wrapper {
  text-align: center;
  width: 100%;
  font-size: 88%;
/*  
  background: #ddd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
*/
}

/* menu */
div.tagget_toolbar p {
  float: left;
  padding: 0.5em;
}

/* main */
p.tagget_main {
  clear: both;
  width: 100%;
}

p.tagget_main textarea {
  font-family: monospace;
  width: 99%;
}

/* status */
div.tagget_wrapper p.tagget_status {
  text-align: right;
  margin-right: 0.5em;
  font-size: 88%;
  margin-top: -2em;
  color: #555;
}

/* popup */
ul.tagget_popup {
  padding: 0;
  margin: 1em 0 0 0;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 1;
  list-style-type: none;
  border: 1px solid #bbb;
  font-family: monospace;
  background-color: #fcfcfc;
  text-align: left;
}

ul.tagget_popup li {
  padding: 1px 3px;
  margin: 0;
  color: #333;
}

ul.tagget_popup li.tagget_current {
  background-color: #ddd;
}

/* dummy */
pre.tagget_dummy {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

/* hide type */
div.tagget_toolbar p.tagget_type {
  display: none;
}


